<%- include('partials/header') %>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto page-header">
      <div>
        <img id="logo" src="images/black-cat.png" alt="">
      </div>
    </header>

    <main class="px-3">
      <h1>Welcome to Feline-city!</h1>
      <p class="lead">The number one cat image generator in the world. Click the button to see a cute meme of our furry
        friends...</p>
      <form class="" action="/" method="post">
        <button class="button" type="submit" name="button"> Generate Image</button>
      </form>
    </main>

  </div>
  <%- include('partials/footer') %>