<%- include('partials/header') %>


    <div class="image-div">
        <img class="meme-img" src="" alt="">
        <form class="" action="/" method="post">
            <button class="button" type="submit" name="button"> Generate Image</button>
        </form>
        <form class="" method="post">
            <button class="button back-btn" type="submit" name="button">Back</button>
        </form>

    </div>

    <%- include('partials/footer') %>